page-welcome {
  .welcome-content {
    padding-top: 100px;

    .full-width {
      text-align: center;
    }

    .start-button {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}
