<ion-header>

  <ion-navbar>
    <ion-title>Tasks</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="onAddClicked()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <div *ngIf="(tasks | async)?.length === 0" style="text-align: center">
      <p>
        You have no tasks yet.
      </p>
      <p>
        Go ahead and create one above!
      </p>
    </div>

    <!-- TODO MAYBE? more details on each task item -->

    <ion-item *ngFor="let taskPair of tasks | async | keyValue">
      <ion-checkbox
        [(ngModel)]="taskPair.value.completed"
        (ionChange)="changeTaskCompletion(taskPair.key, taskPair.value.completed)"
        class="no-cover-item">
      </ion-checkbox>
      <ion-label
        [ngClass]="{ 'completed-task': taskPair.value.completed }"
        (click)="onTaskClicked(taskPair.key, taskPair.value)">
        {{ taskPair.value.title }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
