<ion-header>

  <ion-navbar>
    <ion-title>Tasks</ion-title>

    <!-- TODO AFTER replace this with a fab -->
    <ion-buttons end>
      <button ion-button icon-only (click)="onAddClicked()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <div *ngIf="(tasks | async)?.length === 0" style="text-align: center">
      <p>
        You have no tasks yet.
      </p>
      <p>
        Go ahead and create one above!
      </p>
    </div>

    <!-- TODO AFTER show an arrow on the button even on android -->
    <!-- TODO MAYBE? more details on each task item -->
    <!-- TODO section headers for priority -->
    <button
      ion-item
      detail-push
      *ngFor="let taskPair of tasks | async | keyValue"
      (click)="onTaskClicked(taskPair.key, taskPair.value)">
      {{ taskPair.value.title }}
    </button>
  </ion-list>
</ion-content>
