page-tasks {
  .centred-spinner {
    display: block;
    margin: 40px auto;
  }

  .no-cover-item {
    .item-cover {
      display: none;
    }
  }

  .completed-task {
    color: gray;
  }

  .overdue-task {
    color: map-get($colors, danger);
  }
}
