<ion-header>

  <ion-navbar>
    <ion-buttons>
      <button ion-button icon-only (click)="openSettingsPopup()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Tasks</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addTask()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="(tasks | async)?.length === 0" style="text-align: center">
    <p>
      You have no tasks yet.
    </p>
    <p>
      Go ahead and create one above!
    </p>
  </div>

  <ion-list *ngFor="let group of tasks | async | keyValue | groupTasks">
    <ion-list-header>{{ group.title }}</ion-list-header>

    <ion-item *ngFor="let taskPair of group.tasks">

      <ion-checkbox
        [(ngModel)]="taskPair.value.completed"
        (ionChange)="changeTaskCompletion(taskPair.key, taskPair.value.completed)"
        class="no-cover-item">
      </ion-checkbox>
      <ion-label
        [ngClass]="{
          'completed-task': taskPair.value.completed,
          'overdue-task': isOverdue(taskPair.value) && !taskPair.value.completed
        }"
        (click)="openTask(taskPair.key, taskPair.value)">
        {{ taskPair.value.title }}
      </ion-label>

    </ion-item>
  </ion-list>

</ion-content>
