<ion-header>

  <ion-navbar>
    <ion-buttons>
      <button
        ion-button clear small
        *ngIf="strategy.hasCancelButton"
        (click)="cancelAndLeave()">
        Cancel
      </button>
    </ion-buttons>

    <ion-title>
      {{ strategy.pageTitle }}
    </ion-title>

    <ion-buttons end>
      <button
        ion-button clear small
        *ngIf="strategy.hasSaveButton"
        (click)="saveAndLeave()">
        Add
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label color="primary">Title</ion-label>
      <ion-input placeholder="History Essay" [(ngModel)]="strategy.task.title">
        <!-- TODO SOMETIME trim string -->
        <!-- TODO SOMETIME multiline for long strings -->
      </ion-input>
    </ion-item>

    <ion-list-header>Due</ion-list-header>

    <ion-item>
      <ion-label color="primary">Date</ion-label>
      <ion-datetime
        placeholder="None"
        max="2300"
        displayFormat="DDDD D MMM, YYYY"
        [(ngModel)]="strategy.task.dueDate">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Time</ion-label>
      <ion-datetime
        placeholder="None"
        displayFormat="h:mm A"
        [(ngModel)]="strategy.task.dueDate">
      </ion-datetime>
    </ion-item>

    <ion-list-header>Notes</ion-list-header>

    <ion-item>
      <ion-textarea
        placeholder="Notes"
        [(ngModel)]="strategy.task.notes"
        style="height: 100px;">
      </ion-textarea>
    </ion-item>

  </ion-list>
</ion-content>
